.overall {
  background: lightblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  padding: 0 30%;
  text-align: center;
  font-size: clamp(20px, 2vw, 30px);
}

.description {
  margin-top: 10%;
  font-size: clamp(12px, 2vw, 16px);
}

.titleAccent {
  font-weight: bold;
  color: red;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 3%;
  overflow: hidden;
}

.button1,
.button2 {
  background: green;
  padding: 20px 100px;
  font-weight: bold;
  color: white;
}

.button1:hover,
.button2:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.9;
}

.button1,
.button2,
.imageContainer {
  transition: 0.2s ease-in-out;
}

.imageContainer {
  position: absolute;

  width: clamp(30px, 4vw, 60px);
  height: clamp(30px, 4vw, 60px);
  display: flex;
  bottom: 30px;
  right: 30px;
  background: green;
  padding: 20px;
  border-radius: 10px;
}

.contactBubble {
  filter: invert(1);
}

.imageContainer:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.9;
}

@media screen and (max-width: 1000px) {
  .buttons {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .imageContainer {
    display: none;
  }
}
